body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    margin-bottom: 20px;
    flex-direction: column;
}

.header{
    display: flex;
    margin-bottom: 25px;
}

.awesome{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.right-links{
    margin-left: auto;
    display: flex;
     
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;  
}

.information{
    flex: 1;
}

.block-container{
   
    display: flex;
    gap: 25px;
    align-items: auto;   
}

.block{
    text-align: center;
    align-items: auto;
}

.quote{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 75px;
  
}

button{
    color: #3882F6;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}