body{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header{
    display: flex;
    
}

.right-links{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.block-container{
    display: flex;
    gap: 25px;
}

.footer{
    margin-top: auto;
}

button{
    color: #3882F6;
}

ul{
    list-style-type: none;
}