body{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header{
    display: flex;
    
}

.right-links{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.footer{
    margin-top: auto;
}

button{
    color: #3882F6;
}

ul{
    list-style-type: none;
}